asgiref
click
Django
gunicorn
joblib
nltk
numpy
pandas
psycopg2
python-dateutil
pytz
regex
scikit-learn
scipy
six
sqlparse
threadpoolctl
tqdm
typing-extensions
whitenoise
DVC
dill
notebook
matplotlib
catboost
xgboost
Flask
-e .
